<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Consuming Critics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@{
    var bodyClass = "anonymous";
    if (ViewBag.LoggedInUser != null)
    {
        bodyClass = "user";
        if (ViewBag.LoggedInUser.Role == s0895604.Models.UserRole.Admin)
        {
            bodyClass = "admin";
        }
    }
}

<body class="@bodyClass">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Consuming Critics (CC)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.LoggedInUser == null)
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Users")</li>
                        <li>@Html.ActionLink("Registreer", "Register", "Users")</li>
                    }
                    else
                    {
                        if (ViewBag.LoggedInUser.Role == s0895604.Models.UserRole.Admin)
                        {
                            <li>@Html.ActionLink("Gebruikers", "Index", "Users")</li>
                            <li>@Html.ActionLink("Categorieën", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                            <li>@Html.ActionLink("Beoordelingen", "Index", "Ratings")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Mijn Reviews", "Index", "Reviews")</li>
                        }
                        <li>@Html.ActionLink("Log uit", "Logout", "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Bart Langelaan - <a href="https://github.com/bartlangelaan/tentamen">Broncode</a> - @Html.ActionLink("Reset database", "Reset", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
