@using s0895604.Models
@model s0895604.Models.Review

@{
    ViewBag.Title = "Details";
}

<h4>Review van: @Html.DisplayFor(model => model.Name)</h4>
<dl class="dl-horizontal">
    <dt>
        Categorie:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Category.Name)
    </dd>

    <dt>
        Gemaakt door:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.Username) (@Html.DisplayFor(model => model.CreatedDateTime))
    </dd>
</dl>

<hr/>

<p>
    @Html.Raw(Model.Content.Replace("\n", "</p><p>"))
</p>

<div class="text-right">
    @if (ViewBag.AlreadyRated)
    {
        <p>Je hebt al gestemd.</p>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <text>Slecht</text>
                <input type="radio" name="rating" value="1" />
                <input type="radio" name="rating" value="2" />
                <input type="radio" name="rating" value="3" />
                <input type="radio" name="rating" value="4" />
                <input type="radio" name="rating" value="5" />
                <text>Goed</text>
                <input type="submit" value="stem" />
            </div>
        }
    }



    <p>@Html.ActionLink("Toon alle beoordelingen", "Index", "Ratings", new { id = Model.ReviewId }, null)</p>
</div>

@if (ViewBag.LoggedInUser.Role == UserRole.Admin)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

