@using s0895604.Models
@model s0895604.Models.Review

@{
    ViewBag.Title = "Details";
}

<h4>Review van: @Html.DisplayFor(model => model.Name)</h4>
<dl class="dl-horizontal">
    <dt>
        Categorie:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Category.Name)
    </dd>

    <dt>
        Gemaakt door:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.Username) (@Html.DisplayFor(model => model.CreatedDateTime))
    </dd>
</dl>

<hr/>

<p>
    @Html.Raw(Model.Content.Replace("\n", "</p><p>"))
</p>

<p>
    <!-- TODO: Voeg stemoptie toe -->
    @Html.ActionLink("Toon alle beoordelingen", "Index", "Ratings", new {id = Model.ReviewId }, null)
</p>

@if (ViewBag.LoggedInUser.Role == UserRole.Admin)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

