@using s0895604.Models
@model IEnumerable<s0895604.Models.Rating>

@{
    ViewBag.Title = "Beoordelingen";
}

<h2>
    Beoordelingen
    @if (ViewBag.Review != null)
    {
        <text>van review <b>@ViewBag.Review.Name</b></text>
    }
</h2>
@if (ViewBag.LoggedInUser.Role == UserRole.Admin)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        @if (ViewBag.Review == null)
        {
            <th>
                @Html.DisplayNameFor(model => model.Review.Name)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingNumber)
        </th>
        @if (ViewBag.LoggedInUser.Role == UserRole.Admin)
        {
            <th></th>
        }
            
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.Review == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Review.Name)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingNumber)
        </td>
        @if (ViewBag.LoggedInUser.Role == UserRole.Admin)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RatingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RatingId })
            </td>
        }
    </tr>
}

</table>
